.box {
    /* background-color: pink; */
}

.linkList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.link {
    flex-basis: 25%;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.link a {
    text-decoration: none;
    color: #808080;
    cursor: pointer;
}